<h2>Approve/Reject</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Transaction</th>
            <th>Payment Account #</th>
            <th>sent Amount</th>
            <th>Rate</th>
            <th>Receive Account #</th>
            <th>Receive Amount</th>
            <th>Status</th>
            <th>Created on</th>
            <th>Approved/Rejected on</th>
            <th>Approved/Rejected</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let tr of transList">
            <td>{{tr.transactionId}}</td>
            <td>{{tr.payAccount}}</td>
            <td>{{tr.sendAmt}}</td>
            <td>{{tr.rate}}</td>
            <td>{{tr.recAccount}}</td>
            <td>{{tr.recAmt}}</td>
            <td>{{tr.status}}</td>
            <td>{{tr.createdOn}}</td>
            <td>{{tr.approvedOn}}</td>
            <td *ngIf="tr.status !== 'NEW'">&nbsp;</td>
            <td class="approve-reject" *ngIf="tr.status === 'NEW'"><i class="material-icons approve" (click)="approve(tr)">thumb_up</i>&nbsp;&nbsp;&nbsp;<i class="material-icons reject" (click)="reject(tr)">thumb_down</i></td>
        </tr>
    </tbody>
</table>