<div id="wrap">
    <div class="regbar">
        <div class="app-name">
            Foreign Exchange <button md-icon-button (click)="toggleNav()" *ngIf="auth.isUserLoggegIn"><md-icon>list</md-icon></button>
        </div>
        <div id="navthing">
            <h2>
                <span [hidden]="auth.isUserLoggegIn">
                    <a href="javascript:void(0)" id="loginform">Login</a> | <a href="javascript:void(0)" id="registerform">Register</a>
                </span>
                <span *ngIf="auth.isUserLoggegIn" style="display: flex;align-items: center">
                    <a href="javascript:void(0)" id="loginform">Welcome {{auth.userDetails.lastName}}, {{auth.userDetails.firstName}}</a><button md-icon-button (click)="error='';auth.logout();appService.close();router.navigate(['/home'])" *ngIf="auth.isUserLoggegIn"><md-icon>exit_to_app</md-icon></button>
                </span>
            </h2>
            <div class="login" [style.display]="auth.isUserLoggegIn?'none':'block'">
                <div class="arrow-up"></div>
                <div class="formholder">
                    <div class="randompad">
                        <form #loginForm="ngForm" (ngSubmit)="login(email.value, password.value)">
                            <fieldset>
                                <label name="email">Email</label>
                                <input type="email" name="email" #email="ngModel" [(ngModel)]="eMail" value="example@example.com" pattern=".+@.+" required/>
                                <label name="password">Password</label>
                                <input type="password" name="password" #password="ngModel" [(ngModel)]="pwd"  required/>
                                <input [disabled]="!loginForm.form.valid" [style.background]="loginForm.form.valid?'#1abc9c':'red'" type="submit" value="Login" />
                            </fieldset>
                        </form>
                        <p>{{error}}</p>
                    </div>
                </div>
            </div>
            <div class="register">
                <div class="arrow-up"></div>
                <div class="formholder">
                    <div class="randompad">
                        <form #registerForm="ngForm" (ngSubmit)="register(fname.value, lname.value, remail.value, rpwd.value)">
                            <fieldset>
                                <label name="name">First Name</label>
                                <input type="text" name="fname" #fname="ngModel" [(ngModel)]="fName" name="fname" value="" required />
                                <label name="name">Last Name</label>
                                <input type="text" name="lname" #lname="ngModel" [(ngModel)]="lName" name="lname" value="" required />
                                <label name="email">Email</label>
                                <input type="email" name="remail" #remail="ngModel" [(ngModel)]="rEmail" value="example@example.com" pattern=".+@.+" required />
                                <label name="password">Password</label>
                                <input type="password" name="rpwd" #rpwd="ngModel" [(ngModel)]="rPwd" required />
                                <input type="submit" value="Register" [disabled]="!registerForm.form.valid" [style.background]="registerForm.form.valid?'#1abc9c':'red'" />
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>