* {
margin: 0;
padding: 0;
}

#wrap {
//   margin: 0 auto 30px;
  
}

#regbar {
  height: 67px;

  background: #34495e; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#34495e, rgba(255, 255, 255, 0.2), #34495e); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#34495e, rgba(255, 255, 255, 0.2), #34495e); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#34495e, rgba(255, 255, 255, 0.2), #34495e); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#34495e, rgba(255, 255, 255, 0.2), #34495e); /* Standard syntax */

  display: flex;
}

#navthing {
margin-left: 50px;
flex: 1;
}

.app-name {
    line-height: 67px;
    color: #f1f1f1;
    font-size: 2rem;
    display: flex;
    align-items: center;
}

h2 {
  padding: 14px;
  color: #ecf0f1;
  float: right;
}

fieldset {
border: none;
}

.login {
  position: absolute;
  width: 350px;
  display: none;
  right: 0;
  top: 70px;
  float: right;
  z-index: 2;
}

.register {
  position: absolute;
  width: 350px;
  display: none;
  right: 0;
  top: 70px;
  float: right;
  z-index: 2;
}

.arrow-up {
	width: 0; 
	height: 0; 
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	
	border-bottom: 15px solid #ECF0F1;
  left: 47%;
  position: absolute;
  top: -10px;
}

.register .arrow-up {
    left: 74%;
}

.formholder {
  background: #ecf0f1;
  width: 350px;
  border-radius: 5px;
  padding-top: 5px;
  fieldset {

  }
  
  input {
    padding: 7px 5px;
    margin: 10px 0;
    width: 96%;
    display: block;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    
    &:focus {
      outline: none;
      box-shadow: 0 0 1px 1px #1abc9c;
      }
   -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    transition: 0.3s linear;
  }
  
  input[type="submit"] {
    background: #1abc9c;
    padding: 10px;
    font-size: 20px;
    display: block;
    width: 100%;
    border: none;
    color: #fff;
    border-radius: 5px;
    &:hover {
      background: #1bc6a4;
      }
  }
  
}

.randompad {
padding: 10px;
}

.green {
  color: #1abc9c;
}

a {
  color: #ecf0f1;
  text-decoration: none;
  
  &:hover {
      color: #1abc9c;
    }
}