<login></login>

<md-sidenav-container class="fx-container">
    <md-sidenav #sidenav class="fx-sidenav">
        <div (click)="nav('sendMoney')"><i class="material-icons">send</i>Send Money</div>
        <div (click)="nav('transactionHistory')"><i class="material-icons">history</i>Transaction History</div>
        <div (click)="nav('receiptAccounts')"><i class="material-icons">receipt</i>Receipt Accounts</div>
        <div (click)="nav('paymentAmount')"><i class="material-icons">attach_money</i>Payment Amount</div>
        <div (click)="nav('reviewApprove')"><i class="material-icons">thumbs_up_down</i>Review/Approve</div>
    </md-sidenav>

    <div class="example-sidenav-content">
        <router-outlet></router-outlet>
    </div>

</md-sidenav-container>