<login></login>

<md-sidenav-container class="fx-container">
    <md-sidenav #sidenav class="fx-sidenav">
        <div (click)="nav('sendMoney')">Send Money</div>
        <div (click)="nav('transactionHistory')">Transaction History</div>
        <div (click)="nav('receiptAccounts')">Receipt Accounts</div>
        <div (click)="nav('paymentAmount')">Payment Amount</div>
        <div (click)="nav('reviewApprove')">Review/Approve</div>
    </md-sidenav>

    <div class="example-sidenav-content">
        <router-outlet></router-outlet>
    </div>

</md-sidenav-container>